<h1>Personnel</h1>

<ul>
    <li *ngFor="let personnel of personnels">
        <div>
            <img [src]="'assets/images/mugshot/' + personnel.profileImg" alt="{{ personnel.personnelName }}"
                width="100" />
        </div>
        <div>
            <strong>Personnel:</strong>
            {{ personnel.personnelName }}
        </div>
        <div>
            <strong>Species:</strong>
            {{ personnel.species }}
        </div>
        <ul>
            <li *ngFor="let skill of personnel.skills">
                <strong>Skill:</strong> {{ skill.skillName }}
            </li>
        </ul>
        <button (click)="deletePersonnel(personnel.personnelId)">Delete</button>
    </li>
</ul>


<h2>Add Personnel</h2>

<form (ngSubmit)="addPersonnel()">
    <label for="personnelName">Personnel Name:</label>
    <input id="personnelName" [(ngModel)]="newPersonnel.personnelName" name="personnelName" required />
    <label for="species">Species:</label>
    <input id="species" [(ngModel)]="newPersonnel.species" name="species" required />
    <button type="submit">Add</button>
</form>