<h1>Loot</h1>


<ul>

    <li *ngFor="let loot of loots">

        {{ loot.itemName }}
        {{ loot.quantity }}

        <button (click)="deleteLoot(loot.lootId)">Delete</button>
        <button (click)="editLoot(loot)">Edit</button>
    </li>
</ul>

<h2>Add Loot</h2>

<form (ngSubmit)="addLoot()">

    <label for="itemName">Item Name:</label>
    <input id="itemName" [(ngModel)]="newLoot.itemName" name="itemName" required />

    <label for="quantity">Quantity:</label>
    <input id="quantity" [(ngModel)]="newLoot.quantity" name="quantity" required />

    <button type="submit">Add</button>
</form>