<h1>Loot</h1>


<ul>

    <li *ngFor="let loot of loots">

        {{ loot.itemName }}

        <button (click)="deleteLoot(loot.lootId)">Delete</button>
        <button (click)="editLoot(loot)">Edit</button>
    </li>
</ul>

<h2>Add Loot</h2>

<form (ngSubmit)="addLoot()">

    <label for="itemName">Item Name:</label>
    <input id="itemName" [(ngModel)]="newLoot.itemName" name="itemName" required />

    <label for="quantity">Quantity:</label>
    <input id="quantity" [(ngModel)]="newLoot.quantity" name="quantity" required />

    <button type="submit">Add</button>
</form>

<h2>Update Loot</h2>

<form (ngSubmit)="updateLoot()">
    <!-- Item Name -->
    <label for="updateItemName">Item Name:</label>
    <input id="updateItemName" [(ngModel)]="newLoot.itemName" name="updateItemName" required />

    <!-- Quantity -->
    <label for="updateQuantity">Quantity:</label>
    <input id="updateQuantity" [(ngModel)]="newLoot.quantity" name="updateQuantity" required />

    <button type="submit">Update</button>
</form>